/*
 *  Loader
 *    Styles for the animated loader.
 *
 *  Dependencies:
 *    styles/settings/animation.scss
 *    styles/tools/_animation.scss
 *    styles/tools/_transform.scss
 *
 *  Version:
 *    1.0.0 - 2018/05/08
 */
@import './../../styles/global';

@keyframes o-loader--spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.o-loader {
  display: block;
  width: 64px;
  height: 64px;
  max-width: 100%;
  max-height: 100%;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &__image {
    animation-name: o-loader--spin;
    animation-iteration-count: infinite;
    animation-timing-function: $s-animation--ease-in-out;
    animation-duration: 0.7s;

    width: 100%;
    height: 100%;

    > * {
      stroke: $s-color--loader;
    }
  }
}
